<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>


	<div class="joinWrap">
		<div class="wrapIn" style="height: 100%;">
			<div class="logInBox">
			<p class="fs22">Join</p>
			
				
				<input type="text" name="name" placeholder="이름" >
				<input type="text" name="id" placeholder="아이디" >
				<input type="text" name="phone" placeholder="연락처" >
			
			
			
				<button type="button" class="joinBtn2">가입하기</button>
			</div>
		</div>
	</div>
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</body>
</html>